<div class="page header"> 
  <h1>Editar Avaliação</h1>
</div>

<%= render :partial => 'form' %>

<%= link_to 'Visualizar', @avaliacao,
     :class => 'btn btn-info' %>  
<%= link_to 'Voltar', avaliacaos_path,
     :class => 'btn btn-default'  %>
